/* Container for the form */
.form-container {
  width: 80%;
  padding: 50px;
  height: 70vh;
  margin-top: 100px;
}

.input-group {
  display: flex;
  border-bottom: 1px solid rgb(179, 176, 176);
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.company-form{
  display: flex;
    flex-direction: column;
    gap: 20px;
}
/* Style for input fields */
.companyinput-field,
.companyselect-field {
  width: 100%;
  border: none; /* Default border color to match background */
  outline: none; /* Remove default outline */
  font-size: 18px;
  font-style: bold;
  font-family: sans-serif;
}

/* Remove border on focus except the bottom border */
.companyinput-field:focus,
.companyselect-field:focus {
  border: 1px solid #fff; /* Match background */
  border-bottom: 1px solid #d8d9db; /* Change bottom border color on focus */
}

/* Style for labels */
.companylabel {
  display: block;
  /* padding-top: 10px; */
  width: 30%;
  font-family: sans-serif;
  color: rgb(70, 67, 67);
}

/* Style for the save button */
.save-button {
  width: 100px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #0c5c4c;
  color: #fff;
  cursor: pointer;
}

.save-button:hover {
  background-color: #083b31;
}

.save-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
